<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- TITLE -->
    <title>ProMan</title>

    <!-- Metro Bootstrap -->
    <link href="../static/metro-bootstrap/dist/css/metro-bootstrap.min.css" rel="stylesheet">
    <!-- Awesome Fonts -->
    <link href="../static/font-awesome-4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../static/style.css" rel="stylesheet">
    <!-- Import JavaScript -->
    <script type="text/javascript" src="../static/jquery-3.1.1.js"></script>
    <script type="text/javascript" src="../static/robotkutya.js"></script>
  </head>

  <body>
    <!-- HEADER -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Pro Man</a>
        </div>
      </div>
    </nav>

    <div class="container">
        <div class="board-list">
            <div class="thumbnail tile tile-medium tile-green">
                <h1 class="tile-text">ABCDEFGHIJKLMNOPQRSTUVWXYZ</h1>
            </div>
            <div class="thumbnail tile tile-medium tile-yellow">
                <h1 class="tile-text">Title</h1>
            </div>
            <div class="thumbnail tile tile-medium tile-purple">
                <h1 class="tile-text">Title</h1>
            </div>
            <div class="thumbnail tile tile-medium tile-red">
                <h1 class="tile-text">Title</h1>
            </div>
            <div class="thumbnail tile tile-medium tile-orange">
                <h1 class="tile-text">Title</h1>
            </div>
            <div class="thumbnail tile tile-medium tile-blue">
                <h1 class="tile-text">Title</h1>
            </div>
        </div>
        <div class="new-board thumbnail tile tile-medium tile-concrete">
            <a href="#" class="fa-links">
                <h3 class="tile-text">New Board</h3>
                <i class="fa fa-4x fa-plus-square"></i>
            </a>
        </div>
    </div>
  </body>
</html>
