<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>ProMan</title>

        <!--<link rel="stylesheet" href="../static/bootstrap-3.3.7-dist/css/bootstrap.css">-->

        <link rel='stylesheet' type='text/css' href='../static/stylesheet.css'>
        <script src="../static/jquery-3.1.1.js"></script>
        <script type='text/javascript' src='../static/script.js' defer></script>

    </head>
    <body>
        <h1>ProMan</h1>
        <form>
            MAKE A NEW BOARD: <input type="text" name="board" placeholder="Create a new table here...">
        </form>
        <button>Add New Board!</button>
        <div id="boards"></div>
    </body>
</html>
